#
# .gitignore -- update 29 May 17
#
# Add patterns to exclude Frescobaldi editor backup files   -->  *.ly~
# and the generated pdf shell with no or incorrect content  -->  *-1.pdf
# add midi files to the ignore list. 
#
# Ponder other patterns to add later.
#
# Editor backup files 
#####################
*.ly~
#
# Generated pdf files that are not correct
# 
*-1.pdf
#
#
*.midi
#
#
# End for now.... 
###################
